@charset "UTF-8";




/*　5-テキストの幅寄せや色
--------------------------------------------------------------------------*/
.text-center{	text-align:center;}

.text-right{	text-align:right;}

.font-red{	color:#F00;}

.font-yellow{	color:#FF0;}

.text-red{	color:#F00;	font-weight:bold;	font-size:48px;}



/*　テーブルの設定
--------------------------------------------------------------------------*/
table{width: 100%;
border-collapse: separate;
border-spacing: 0px;
table-layout: fixed;
word-break: break-all;
word-wrap: break-word;
border-top: 1px solid #CCC;
border-left: 1px solid #CCC;}
th,td{padding: 0.5em;
border-right: 1px solid #CCC;
border-bottom: 1px solid #CCC;
text-align: center;
}

/*　clearfix
--------------------------------------------------------------------------*/
.clearfix:after {
  content: ".";  /* 新しい要素を作る */
  display: block;  /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}

* html .clearfix {
  height: 1px;
  /*¥*//*/
  height: auto;
  overflow: hidden;
  /**/
}