@charset "UTF-8";
/*
☆☆☆☆☆目次☆☆☆☆☆

1-大枠のサイズ設定
-大枠のフロート設定
-大枠の余白設定
2-背景のカラーと画像
3-フォントカラーとサイズ
4-共通部分
5-ページ個別
ページナビゲーション

*/



/*　2-背景のカラーと画像
--------------------------------------------------------------------------*/

/*
body{
	background-image:url(../img/background-body.jpg);
}

#wrap,#head,#all-kanban,#pan,#ribon,#navi{
	background-color:#FFF;
}*/

body{background:#F9F4EE;}
.main-cont{background:#FFF;}

#ribon ul{
	background-image:url(../img/ribon.gif);
	background-repeat:no-repeat;
}

#navi{
	background-image:url(../img/background-navi.jpg);
	background-repeat:repeat-x;
}

#footer{
	background-color:#4D4D4D;
}









/*　1-大枠のフロート設定
--------------------------------------------------------------------------*/






/*　1-大枠の余白設定
--------------------------------------------------------------------------*/









#pan{	padding:10px 15px 10px 15px;}


#main-unei{	padding:20px 0 20px 15px;}




#footer-cont{	padding:15px;}



/*　3-フォントカラーとサイズ
--------------------------------------------------------------------------*/
h1,#footer{	color:#999;}

h1{	font-size:10px;}


/*　4-共通部分
--------------------------------------------------------------------------*/



/*ヘッダー	*/







/*パンくず	*/
#pan{}

/*リボン */

#ribon ul{	padding:10px 35px 15px 35px;}

#ribon li{	background-image:url(../img/icon-crownmini.gif);	background-repeat:no-repeat;	padding:0 25px 0 25px;	float:left;	background-position: 0% 40%;}


/*会社一覧 */
#all-comp{	margin:0 0 20px 0;}
#all-comp h3{	background-image:url(../img/title-660.jpg);	background-repeat:no-repeat;	font-size:14px;	padding:12px 10px 10px 15px;}
#all-comp-cont{	border-right-width: 1px;	border-bottom-width: 1px;	border-left-width: 1px;	border-right-style: solid;	border-bottom-style: solid;	border-left-style: solid;	border-right-color: #CCC;	border-bottom-color: #CCC;	border-left-color: #CCC;	padding:20px 10px 10px 10px;}
#all-comp-cont ul{}
#all-comp-cont li{	background-image:url(../img/icon-crownmini.gif);	background-repeat:no-repeat;	background-position:0 20%;	padding:0 0 10px 20px;	width:192px;	float:left;}
#all-comp-cont h4{	background-image:url(../img/icon-crownmini.gif);	background-repeat:no-repeat;	background-position:0 35%;	padding:0px 0 0px 20px;	margin:5px 0 10px 0;	font-size:12px;	font-weight:bold;}
#all-comp-cont dl{	float:left;	width:212px;	margin:0px 0 8px 0;}
#all-comp-cont dt{	float:left;	width:45px;	margin:0px;}
#all-comp-cont dd{	float:left;	width:162px;	margin:0px;}

/*検索 */
#all-search{	background-image:url(../img/main-search.jpg);	background-repeat:no-repeat;}
#all-search table{	background-color:#CCC;}
#all-search th{	background-color:#F7FFFF;	padding:10px;	width:60px;}
#all-search td{	background-color:#FFF;	padding:10px;}
#all-search li{	float:left;	width:170px;}

/*検索2 */
#all-search2{
	background:url(../img/search-box-bottom.jpg) no-repeat bottom;
	margin:0 0 20px 0 ;
}

#all-search2 table{
	background-color:#CCC;
	margin:5px 0 0 0;
}

#all-search2 th{
	background-color:#F7FFFF;
	padding:10px;
	width:60px;
}

#all-search2 td{
	background-color:#FFF;
	padding:10px;
}

#all-search2 li{
	float:left;
	width:170px;
}

#test_aaa{
    display:block;
    width:170px;
    height:29px;
    border:0;
    background: url(../img/search-button.jpg) left top no-repeat;
    text-indent:-9898px;
    font-size: 0px;
    line-height: 0px;
    cursor:pointer;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

/*カテゴリ */
#all-cate{}


/*質問一覧 */
#all-board{
	margin:0 0 10px 0;
}

#all-board h3{
	background-image:url(../img/title-660-king01.jpg);
	background-repeat:no-repeat;
	font-size:14px;
	padding:44px 10px 11px 80px;
}

#all-board-cont{
	padding:10px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
}

#all-board-cont dl{
	border-bottom-color:#CCC;
	border-bottom-style:dotted;
	border-bottom-width:1px;
	margin:0 0 10px 0;
	padding:0 0 10px 0;
}

#all-board-cont dt{
	font-size:14px;
	margin:0px;
}

#all-board-cont dd{
	font-size:10px;
	margin:0px;
}

#all-board-cont ul{
	padding:5px 0 0 0;
}

#all-board-cont li{
	background-image:url(../img/icon-crownmini.gif);
	background-repeat:no-repeat;
	font-size:18px;
	padding:0 0 10px 20px;
	margin:0 0 10px 0;
	border-bottom-width:1px;
	border-bottom-style:dotted;
	border-bottom-color:#CCC;
	background-position: 0% 15%;
}


/*体験談一覧 */
#all-taiken{
	margin:0 0 10px 0;
}

#all-taiken h3{
	background-image:url(../img/title-660.jpg);
	background-repeat:no-repeat;
	font-size:14px;
	padding:11px 10px 11px 15px;
}

#all-taiken-cont{
	padding:10px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
}

#all-taiken-cont dl{
	border-bottom-color:#CCC;
	border-bottom-style:dotted;
	border-bottom-width:1px;
	margin:0 0 10px 0;
	padding:0 0 10px 0;
}

#all-taiken-cont dt{
	font-size:14px;
	margin:0px;
}

#all-taiken-cont dd{
	font-size:10px;
	margin:0px;
}

/*QA一覧 */
#all-qa{
	margin-bottom:20px;	
}

#all-qa-cont{
	padding:10px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
}

#all-qa h3{
	background-image:url(../img/title-660-king01.jpg);
	background-repeat:no-repeat;
	font-size:14px;
	padding:44px 10px 11px 80px;
}

#all-qa-cont ul{
	padding:5px 0 0 0;
}

#all-qa-cont li{
	background-image:url(../img/icon-crownmini.gif);
	background-repeat:no-repeat;
	font-size:18px;
	padding:0 0 10px 20px;
	margin:0 0 10px 0;
	border-bottom-width:1px;
	border-bottom-style:dotted;
	border-bottom-color:#CCC;
	background-position: 0% 15%;
}


/*オススメ枠 */
#all-osusume{
	background-image:url(../img/osusume.gif);
	background-repeat:no-repeat;
	margin:0 0 10px 0;
}

#all-osusume ul{
	padding:90px 0 0 0;
}

#all-osusume li{
	float:left;
	width:165px;
}

#all-osusume p{
	text-align:center;
}

.all-osusume-img{
	padding:0 0 45px 0;
}

.all-osusume-button{
	padding:0 0 35px 0;
}






/*申込ボタン */
.button{
	padding:20px 0 20px 0;
	text-align:center;
}

/*フッター */
#footer{
	background-color:#4D4D4D;
}

#footer-pl{
	color:#FFF;
	margin:0 0 15px 0;
}

#footer-pl li{
	margin:0 0 5px 0;
}

#footer-cont{}

#footer-link{
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #FFF;
	padding: 0px 0px 10px 0px;
	margin: 0px 0px 10px 0px;
}

#copyright{
	text-align:center;
	padding: 0px 0px 15px 0px;
}

#footer-cont a{
	color:#FFF;
}

/*ページトップへ移動 */
.PageTop {
	position:fixed;
	right: 0;
	bottom: 30px;
	text-align: right;
}


/*　5-ページ個別
--------------------------------------------------------------------------*/

/*********TOP*********/
#main-index{}

.main-index-l{
	padding:0 0 10px 0;
	background-image:url(../img/main-qa.jpg);
	background-repeat:no-repeat;
	width:325px;
	height:354px;
	float:left;
}

.main-index-l h3,.main-index-r h3{
	background-repeat:no-repeat;
	padding:95px 0 0px 14px;
}

.main-index-l-cont,.main-index-r-cont{
	padding:15px;
	margin:0 0 0px 0px;
}

.main-index-l-cont p,.main-index-r-cont p{
	padding:0 0 0px 0;
}

.main-index-l-cont ul,.main-index-r-cont ul{
	padding:2px 0 10px 0;
}

.main-index-l-cont li,.main-index-r-cont li{
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
	margin:0 0 5px 0;
	padding:0 0 5px 0;
}

.main-index-l h3{
}

.main-index-r{
	background-image:url(../img/main-taiken.jpg);
	background-repeat:no-repeat;
	width:325px;
	height:354px;
	float:right;
}

.main-index-r h3{

}

/*TOPページ掲示板*/
#main-index-board{
	padding:80px 0 10px 22px;
	background-image:url(../img/main-keijiban.jpg);
	background-repeat:no-repeat;
}

#main-index-board-text{
	width:480px;
	float:left;
}

#main-index-board-bosyu{
	float:left;
	padding:120px 0 20px 35px;
}

#main-index-board p{
	padding:0 0 10px;
}

#main-index-board dl{
	margin:0px 0 5px; 0;
	padding:0px 0 5px; 0;
	border-bottom-color:#CCC;
	border-bottom-style:dotted;
	border-bottom-width:1px;
}

#main-index-board dt{
	margin:0px;
}

#main-index-board dd{
	margin:0px;
}

/*TOPページ検索*/
#main-index-search{

	padding:68px 0 10px 0px;
}

#main-index-search-box{
	background:#FFF;
	padding:15px 0 0 0;
}

.main-index-search-text-r,.main-index-search-text-w{
	padding:0px 0 0 30px;
	font-size:18px;
	font-weight:bold;
	text-decoration:underline;
}

.main-index-search-text-r{
	color:#FFF;
}

.main-index-search-text-w{
	color:#000;
}


.main-index-search-button-red-l label,.main-index-search-button-red-r label,.main-index-search-button-white-l label,.main-index-search-button-white-r label{
	display: inline-block;
	height: 38px;
	margin: 0px 0px 0px 0px;
	padding:21px 0 10px 15px;
	width: 310px;
	float:left;
}

.main-index-search-button-red-l label{
	background:url(../img/button-search-01.jpg) no-repeat;
}

.main-index-search-button-red-r label{
	background:url(../img/button-search-01.jpg) no-repeat;
	float:right;
}

.main-index-search-button-white-l label{
	background:url(../img/button-search-02.jpg) no-repeat;
}

.main-index-search-button-white-r label{
	background:url(../img/button-search-02.jpg) no-repeat;
	float:right;
}





.main-index-search-button-red-l label:hover,.main-index-search-button-red-r label:hover,.main-index-search-button-white-l label:hover,.main-index-search-button-white-r label:hover{
	opacity:0.8;
	 filter: alpha(opacity=80); /* for IE*/
	  -moz-opacity: 0.8; /* for FF under 1.5*/
}


/* TOPページ検索 20130604更新 */
#main-index-search2{
	background:url(../img/search-box-top.jpg) no-repeat;
	margin:0px 0 0 0;
	padding:195px 15px 15px 15px;
}

#main-index-search2-box{
	background:#FFF;
	padding:12px 0 12px 0px;
}

.main-index-search2-text-r,.main-index-search2-text-w{
	padding:0px 0 0 30px;
	font-size:18px;
	font-weight:bold;
	text-decoration:underline;
}

.main-index-search2-text-r{
	color:#FFF;
}

.main-index-search2-text-w{
	color:#000;
}


.main-index-search2-button-red-l label,.main-index-search2-button-red-r label,.main-index-search2-button-white-l label,.main-index-search2-button-white-r label{
	display: inline-block;
	height: 38px;
	margin: 0px 0px 0px 0px;
	padding:21px 0 10px 15px;
	width: 295px;
	float:left;
}

.main-index-search2-button-red-l label{
	background:url(../img/button-search-05.jpg) no-repeat;
}

.main-index-search2-button-red-r label{
	background:url(../img/button-search-05.jpg) no-repeat;
	float:right;
}

.main-index-search2-button-white-l label{
	background:url(../img/button-search-06.jpg) no-repeat;
}

.main-index-search2-button-white-r label{
	background:url(../img/button-search-06.jpg) no-repeat;
	float:right;
}


.main-index-search2-button-red-l label:hover,.main-index-search2-button-red-r label:hover,.main-index-search2-button-white-l label:hover,.main-index-search2-button-white-r label:hover{
	opacity:0.8;
	 filter: alpha(opacity=80); /* for IE*/
	  -moz-opacity: 0.8; /* for FF under 1.5*/
}



/*TOPページ広告*/
.main-index-ad{
	padding:0 0 10px 0;
}

/*********YESNO*********/
/*入口ページ*/
#main-yesno{}	

/*診断中ページ*/
#main-yesno{}

/*診断完了ページ*/
#main-yesno{}

/*診断結果ページ*/
#main-yesno h3{}

/* #main-yesno
------------------------------------------------------------------------*/

#main-yesno-s,#main-yesno{
	height: 500px;
}

#main-yesno-s{
	background-image:url(../img/yesnobana-s.jpg);
	background-repeat:no-repeat;
	margin: 0px 0px 15px 15px;
}

.shindan-start{
	padding:326px 0 0 95px;
}

#main-yesno{
	background-image:url(../img/yesnobana3.jpg);
	background-repeat:no-repeat;
	margin: 0px 0px 15px 15px;
}

#main-yesno-go{
	background-image:url(../img/yesnobana-kekka.jpg);
	background-repeat:no-repeat;
	margin: 0px 0px 15px 15px;
	height: 500px;
	width:970px;
}


#main-yesno a:hover img {
	filter : alpha(opacity=100);
	opacity : 1 ;
}


#main-yesno h3{
	padding:85px 0px 0px 110px;
	font-size:30px;
}

.main-yesno-text{
	padding:20px 0px 0px 110px;
	width:575px;
	height:185px;
	font-size:16px;
	line-height: 1.7;
}

.main-yesno-link{
	padding:0px 0px 0px 27px;
	font-size:14px;
	height:38px;
}

#main-yesno ul{
	padding:0px 0px 0px 0px;
}

.main-yesno-li1{
	padding:0px 0px 0px 180px;
	float:left;
}

.main-yesno-li2{
	padding:0px 0px 0px 100px;
	float:left;
}

#main-yesno li{
	float:left;
}

#main-yesno-go ul{
	padding:235px 0 0 0px;
}

.main-yesno-go1{
	float:left;
	width:286px;
	padding:0 0 0 40px;
}

.main-yesno-go2:hover{
	filter : alpha(opacity=70);
	opacity : 0.7 ;
}

.main-yesno-go2{
	float:left;
	width:286px;
	padding:0 0 0 330px;
}

#sindan-end{
	background-image:url(../img/button-kekka.gif);
	background-repeat:no-repeat;
    border: 0px;
    width: 286px;
    height: 156px;
	display:block;
	cursor:pointer;
	text-indent:-9898px;
}

#sindan-yes{
	background-image:url(../img/button-yes-off.jpg);
	background-repeat:no-repeat;
    border: 0px;
    width: 146px;
    height: 169px;
	display:block;
	cursor:pointer;
	text-indent:-9898px;
}

#sindan-yes:hover{
	background-image:url(../img/button-yes-on.jpg);
}

#sindan-no{
	background-image:url(../img/button-no-off.jpg);
	background-repeat:no-repeat;
    border: 0px;
    width: 147px;
    height: 169px;
	display:block;
	cursor:pointer;
	text-indent:-9898px;
}

#sindan-no:hover{
	background-image:url(../img/button-no-on.jpg);
}

/*********まんが*********/
/*カテゴリトップ*/
#main-manga{}


#main-manga h3{

}

#main-manga-kanban{
	background-image:url(../img/kanban-manga.jpg);
	background-repeat:no-repeat;
	width:660px;
	height:260px;
	margin:0 0 10px 0;
}

#main-manga-kanban-list{
	padding:0 0 0 40px;
	line-height:1.7em;
}

#main-manga-kanban-list p{
	padding:115px 0 0 0;
	font-weight:bold;
	font-size:14px;
}

#main-manga-kanban ul{
	margin:0px 0 0px 0;
	padding:8px 0px 0px 0px;
	font-size:12px;
	height: 100px;
	width:220px;
	float:left;
}

#main-manga-kanban dl{
	margin:0px 0 0px 0;
	padding:115px 0px 0px 40px;
	font-size:12px;
	height: 100px;
}

#main-manga-kanban dt{
	margin:0 0 5px 0;
}

#main-manga-kanban dd{
	margin:0 0 3px 0px;
}


.main-manga-comment{
	margin:30px 0 10px 0;
}

.main-manga-comment dl{
	margin:0 0 10px 0px;
	padding:0px 0 0 220px;
	background-image:url(../img/main-manga-haikei.jpg);
	background-repeat:no-repeat;
}

.main-manga-comment dt{
	padding:40px 0 0 80px;
	font-size:14px;
	width:290px;
	height:190px;
	line-height:1.3em;
}

.main-manga-comment dd{
	margin:0 0 10px 0px;
	padding:0px 0 0 0px;
	font-size:16px;
	background-color:#FF0;
	line-height:1.2em;
}

.main-manga-comment a{
	background-color:#FF0;
}


/*********検索*********/
/*検索TOP*/



/*検索TOP index */

#main-search,#main-search-out{
	margin:0px 0px 0px 0px;
}

#main-search-in{
	margin:0px 0px 10px 0px;
}

#main-search h2{
	margin:0 0 10px 0;
}

#main-search-in table{
	background-color: #CCC;
	width:970px;
}

#main-search-in tr,#main-search-in th,#main-search-in td{
	padding:15px;
}

#main-search-out tr,#main-search-out th,#main-search-out td{
	padding:10px;
}

#main-search-in tr{}

#main-search-in th{
	background-color: #F7FFFF;
	width:160px;
}

#main-search-in td{
	background-color: #FFF;
}

#main-search-in li{
	float:left;
	width:180px;
}

#test_aaa{
    display:block;
    width:284px;
    height:60px;
    border:0;
    background: url(../img/search-button-01.gif) left top no-repeat;
    text-indent:-9898px;
    font-size: 0px;
    line-height: 0px;
    cursor:pointer;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}


#main-search-kekka{
	background-image:url(../img/kanban-searchgaitou.jpg);
	background-repeat:no-repeat;
	margin:20px 0px 0px 0px;
	padding:9px 0px 26px 775px;
	font-size:16px;
	font-weight:bold;
}

#main-search-out{

}

#main-search-out table{
	width:970px;
	background-color: #CCC;
}

#main-search-out tr{}

#main-search-out th{
	background-color: #FFF;
	text-align:center;
}

#main-search-out td{
	background-color: #FFF;
	text-align:center;
	font-size:16px;
}

.main-search-out-link{
	text-align:center;
}

#main-search-out li{}

.main-search-out-syosuai{
	font-size:16px;
}

#main-search-saikensaku{
	padding:11px 0px 11px 10px;
	margin:20px 0px 0px 0px;
	background-image:url(../img/title-970.jpg);
	background-repeat:no-repeat;
	font-weight:bold;
}


/*検索結果ページ


/*********QA*********/
/*カテゴリトップ*/
#main-qa{}

/*詳細ページ*/

#main-qa h3,#main-qa-a,#main-qa-q{
	background-repeat:no-repeat;
}

#main-qa h3{
	background-image:url(../img/title-660.jpg);
	font-size:14px;
	padding:12px 10px 10px 10px;
	margin:0 0 20px 0;
}

#main-qa-q{
	height:75px;
	background-image:url(../img/title-board-q.jpg);
	margin:0 0 15px 0;
}

#main-qa-q p{
	padding:30px 10px 10px 110px;
	font-size:18px;
}

#main-qa-a{
	height:266px;
	padding:25px 10px 10px 26px;
	margin:0 0 15px 0;
	background-image:url(../img/title-board-a.jpg);
}

#main-qa-a p{
	width:376px;
	font-size:14px;
	line-height:1.4em;
}

/*********体験談*********/
/*カテゴリトップ*/
#main-taiken{
	margin:0 0 10px 0;
}

#main-taiken h3{
	background-image:url(../img/kanban-taiken-m.gif);
	background-repeat:no-repeat;
	padding:105px 0 43px 30px;
	font-size:24px;
}

#main-taiken-cont{
	padding:10px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
}

#main-taiken-cont p{
	font-size:16px;
	line-height:1.6em;
}


/*詳細ページ*/
#main-taiken-comment{}
#main-taiken-comment dl{}
#main-taiken-comment dt{}
#main-taiken-comment dd{}

/*********掲示板*********/
/*カテゴリトップ*/
#main-board{}

#main-board-toukou{}

#main-board-toukou dl{}

#main-board-toukou dt{}

#main-board-toukou dd{}


/*質問を投稿する*/

#main-keijiban-topic{
	margin:0 0 10px 0;
}

#main-keijiban-topic-l{
	float:left;
}

#main-keijiban-topic-r{
	float:left;
	padding:7px 0 0 10px;
	font-size:14px;
}


/*詳細ページ*/
#main-board-q,#main-board-a{
	margin:0 0 10px 0;
}

#main-board-q{
	padding:0 0 10px 0;
	background-image:url(../img/kanban-keijiban-q.gif);
	background-repeat:no-repeat;
}

#main-board-q h3{
	font-size:18px;
	color:#FFF;
	padding:94px 0 0px 90px;
	height:66px;
	width:405px;
	line-height:1.3em;
}

#main-board-q-cont,#main-board-a-cont{
	background-color:#FFF;

	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
}

#main-board-q-cont{
	width:620px;
	margin:0 0 0px 10px;
	padding:10px;
}

#main-board-q-cont dl{
	margin:0px;
}

#main-board-q-cont dt{
	font-size:16px;
	line-height:1.6em;
	margin:0 0 5px 0;
}
#main-board-q-cont dd{
	margin:0px;
	text-align:right;
}

#main-keijiban-topic{}
#main-keijiban-topic p{}

#main-board-a{}
#main-board-a h4{
	background-image:url(../img/title-660.jpg);
	background-repeat:no-repeat;
	font-size:14px;
	padding:11px 0 11px 15px;
	font-weight:bold;
}

#main-board-a-cont{
	padding:15px;
}

#main-board-a-cont dl{
	margin:0 0 15px 0;
	padding:0 0 15px 0;
	border-bottom-color:#CCC;
	border-bottom-style:dotted;
	border-bottom-width:1px;
}

#main-board-a-cont dt p{
	font-size:16px;
	line-height:1.6em;
	margin:0 0 5px 0;
}

#main-board-a-cont dd{
	margin:0px;
	text-align:right;
}


/*投稿フォーム*/
#respond{}
#respond h3{
	background-image: url(../img/icon-crownmini.gif);
	background-repeat: no-repeat;
	background-position: 0% 50%;
	font-size: 16px;
	padding: 0 0 0px 20px;
	margin:10px 0 10px 0;
}
#respond dl{
	margin:0 0 10px 0;
}

#respond dt{
	margin:0 0 5px 0;
}

#respond dd{
	text-align:left;
}
.form-submit{
}

#respond textarea{
	width:632px;
}

/*投稿フォームページ*/
.main-form{}

.main-form h3{
	background-image:url(../img/title-660.jpg);
	background-repeat:no-repeat;
	padding:13px 10px 9px 10px;
}

.main-form-cont{
	padding:10px;
	margin:0 0 10px 0;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
}

.main-form-cont dl{
	margin:0px;
}

.main-form-cont dt{
	margin:0px 0 5px 0;
	font-size:14px;
}

.main-form-cont dd{
	padding:0px 0 15px 0;
	margin:0px;
}

/*********比較*********/
/*詳細ページ*/	
#main-hikaku{}

#main-hikaku h2{
	background-image:url(../img/title-660.jpg);
	background-repeat:no-repeat;
	padding:11px 10px 10px 10px;
	margin:0 0 10px 0;
	font-size:14px;
}

#main-hikaku-point{
	background-image:url(../img/syosai-point.gif);
	background-repeat:no-repeat;
	font-size:16px;
}

#main-hikaku-point ul{
	padding:23px 0 13px 110px;
	margin:0 0 15px 0;
}

#main-hikaku-point li{
	background-image:url(../img/icon-crownmini.gif);
	background-repeat:no-repeat;
	background-position:0 18%;
	padding:0 0 7px 22px;
}

#main-hikaku-bun{
	font-size:14px;
	line-height:1.5em;
	margin:0 5px 20px 5px;
}

#main-hikaku-table{}

#main-hikaku-info{
	margin:0px 0 10px 0;
	padding:10px 0 0 0;
}

#main-hikaku-info h3{
	background-image:url(../img/title-660-king01.jpg);
	background-repeat:no-repeat;
	padding:45px 10px 10px 85px;
	margin:0 0 20px 0;
	font-size:18px;
}

#main-hikaku-info h4{
	background-image:url(../img/icon-check.gif);
	background-repeat:no-repeat;
	font-size:16px;
	padding:0px 0px 5px 30px;
	margin:0px 5px 15px 5px;
	border-bottom-color:#CCC;
	border-bottom-style:dotted;
	border-bottom-width:1px;
}

#main-hikaku-info p{
	font-size:14px;
	padding:5px 0 25px 5px;
	line-height:1.4em;
}

.main-hikaku-ichiran{
	font-size:14px;
	margin:15px 0 15px 0px;
	padding:8px 8px 8px 30px;
	background-color:#FFD0D0;
	background-repeat:no-repeat;
	background-image:url(../img/icon-crownmini.gif);
	background-repeat:no-repeat;
	background-position:1% 50%;
}


/**********会社詳細**********/
/*詳細ページ*/	
#main-syosai,#main-syosai-text,#main-syosai-spec{
	padding:0 0 10px 0;
}

#main-syosai-text{}

#main-syosai-text h3,#main-syosai-spec h3{
	font-size:14px;
	padding:12px 0 10px 10px;
	margin:0 0 15px 0;
	background-image:url(../img/title-660.jpg);
	background-repeat:no-repeat;
}

#main-syosai-text-l{
	width:250px;
	float:left;
}

#main-syosai-text-l h4{
	font-size:12px;
	padding:10px 0 5px 0;
}

#main-syosai-text-l table{
	background-color:#CCC;
}

#main-syosai-text-l tr{
	width:62px;

}

#main-syosai-text-l th{
	font-size:10px;
	width:57px;
	background-color:#F7FFFF;
	text-align:center;
}

#main-syosai-text-l td{
	font-size:10px;
	background-color:#FFFFFF;
	text-align:center;
}

#main-syosai-text-l p{
	font-size:12px;
	background-color:#CEFFFF;
	text-align:center;
	padding:5px;
	margin:10px 0 0 0;
}

#main-syosai-text-r{
	width:390px;
	float:right;
}

#main-syosai-text-r h4{
	padding:0 0 20px 0;
	margin:5px 0 0px 0;
	font-size:18px;
}

#main-syosai-text-r dl{
	margin:0 0 20px 0;
}

#main-syosai-text-r dt{
	font-size:16px;
	background-image:url(../img/icon-crownmini.gif);
	background-repeat:no-repeat;
	background-position:0% 40%;
	padding:0 0 0px 22px;
	margin:0 0 15px 0;
}

#main-syosai-text-r dd{
	margin:0 0 0 0;
	font-size:14px;
	line-height:1.5em;
}

#main-syosai-spec{}

#main-syosai-spec h3{}

#main-syosai-spec table{
	width:660px;
	background-color:#CCC;
	margin:0 0 10px 0;
}

#main-syosai-spec tr{}

#main-syosai-spec th,#main-syosai-spec td{
	font-size:14px;
	padding:10px;
	line-height:1.4em;
}

#main-syosai-spec th{
	background-color:#F7FFFF;
}

#main-syosai-spec td{
	background-color:#FFFFFF;
}

#main-syosai-spec ul{}

#main-syosai-spec li{
	float:left;
	padding:0 30px 0 0;
}










/*　5-ページナビゲーション
--------------------------------------------------------------------------*/
.pagenavi{	margin:10px 0 20px 0;	padding:10px 10px 10px 10px;	font-size:14px;	background-color:#FFD0D0;}
.pagenavi-left{	float:left;	width:auto;}
.pagenavi-right{	float:right;	width:auto;}


/*　5-tablesorter
--------------------------------------------------------------------------*/

.table-pointer{	cursor:pointer;}
.table-pointer:hover{	opacity:0.6;}
.table-pointer h3{	background:url(../img/asc.png) no-repeat 100% center;}


/*　5-リファラ
--------------------------------------------------------------------------*/

#main-w-re-in{}
#main-w-re{	padding:20px;	background-color:#FFF;		max-width:960px;	margin-left:auto;	margin-right:auto;}
#main-w-re h2{	font-size:18px;	line-height:1.4em;}
#main-w-re h3{	font-size:24px;	line-height:2em;}
#main-w-re p{	font-size:14px;	line-height:1.7em;}
#main-w-re-logo p,#main-w-re-loading,#main-w-re-title,#main-w-re-link p,#main-w-re-time{	text-align:center;	padding:0 0px 20px 0;}
#main-w-re-loading{}
#main-w-re-title{}
#main-w-re-time{}


/*サイドメニューなし

#main-w-hikaku{
	width:970px;
	margin:20px 0 0 0;
}

#main-w-hikaku h3{
	font-size:14px;
	padding:12px 0 11px 10px;
	background-image:url(../img/title-970.jpg);
	background-repeat:no-repeat;
}

#main-w-hikaku-cont{
	padding:15px 20px 10px 20px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
}

.main-w-hikaku-cont-h4s{
	background-image:url(../img/icon-crownmini.gif);
	background-repeat:no-repeat;
	background-color:#CEFFFF;
	background-position:5px 7px	;
	font-size:14px;
	margin:0px 0 10px 0;
	padding:5px 0 5px 25px;
	font-weight:bold;
}

.main-w-hikaku-cont-h4{
	background-image:url(../img/icon-crownmini.gif);
	background-repeat:no-repeat;
	background-color:#CEFFFF;
	background-position:5px 7px	;
	font-size:14px;
	margin:15px 0 10px 0;
	padding:5px 0 5px 25px;
	font-weight:bold;
}

#main-w-hikaku-cont dl{
	margin:0px;
	padding:0 0 5px 0;
	width:230px;
	float:left;
}

#main-w-hikaku-cont dt{
	margin:0px;
	float:left;
	width:45px;
}

#main-w-hikaku-cont dd{
	margin:0px;
	float:left;
	width:175px;
}

#main-w-hikaku-cont ul{
}

#main-w-hikaku-cont li{
	float:left;
}

.main-w-hikaku-li{
	padding:0 20px 0 0;
}*/

/* プライバシー関連
#main-pl{}
#main-pl-ov{	overflow:auto;	height:250px;	padding:15px;	border-color:#CCC;	border-width:1px;	border-style:solid;}
#main-pl h2{	background-image:url(../img/title-660.jpg);	background-repeat:no-repeat;	font-size:14px;	padding:12px 10px 10px 15px;	margin:0 0 15px 0;}
#main-pl h3{	font-size:14px;	background-image:url(../img/title-icon-02.jpg);	background-repeat:no-repeat;	background-position:0% 75%;	padding:10px 0 0 12px;	margin:0px 0 15px 0;}
#main-pl p{	padding:0 0 15px 0;	line-height:1.7em;}
#main-pl ul{	margin:0 0 15px 0;}
#main-pl li{	padding:0 0 10px 0;} */

/*********運営者情報********
#main-unei{}

#main-unei h2{	background-image:url(../img/icon-crownmini.gif);	background-repeat:no-repeat;	background-position:0 30%;	padding:0 0 0 20px;	margin:0 0 10px 0;	font-size:16px;}
#main-unei table{	width:970px;	background-color:#CCC;}
#main-unei tr{}
#main-unei th{	background-color: #F7FFFF;	text-align:center;}
#main-unei td{	background-color:#FFF;	padding:10px;}*/

/*　5-スライダーのCSS
--------------------------------------------------------------------------

#gallery{	width:970px;	overflow:hidden;	border: 1px solid #CCC;	position: relative; top:}
#gallery-main{}
#slides{	height:300px;	width:970px;	overflow:hidden;}
.slide{	float:left;}
#menu{	height:10px;	position: absolute;	top: 286px;	left:390px;}
#menu ul{	margin:0px;	padding:0px;}
#menu li{	width:40px;	display:inline-block;	list-style:none;	overflow:hidden;	background:url(../img/kanban-button-off.gif) no-repeat;	text-align:center;}
#menu li.inact:hover{	background:url(../img/kanban-button-on.gif) no-repeat;}
#menu li.act,li.act:hover{	background:url(../img/kanban-button-on.gif) no-repeat;}
#menu li.act a{	cursor:default;}
.fbar{}
#menu li a{	display:block;	text-decoration:none;	height:20px;	padding:0px 0 0 0px;	font-weight:bold;	color:#333;}
*/